@font-face {
  font-family: 'RussianRailGPro';
  src: url('../fonts/RussianRailGPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RussianRailGPro';
  src: url('../fonts/RussianRailGPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RussianRailGPro';
  src: url('../fonts/RussianRailGPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RussianRailGPro-Extended';
  src: url('../fonts/RussianRailGPro-Extended.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
