@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?dzmux1');
  src:  url('../fonts/icons.eot?dzmux1#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?dzmux1') format('truetype'),
    url('../fonts/icons.woff?dzmux1') format('woff'),
    url('../fonts/icons.svg?dzmux1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .system__list-item:before, .security__list-item:before, .slick-prev, .slick-next, .mfp-arrow {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position:relative;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before,
.slick-vertical .slick-next:before {
  content: "\e900";
}
.icon-caret-up:before,
.slick-vertical .slick-prev:before {
  content: "\e901";
}
.icon-caret-left:before, 
.slick-prev:before,
.mfp-arrow-left:before {
  content: "\e902";
}
.icon-caret-right:before, 
.slick-next:before,
.mfp-arrow-right:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-star:before,
.system__list-item:before {
  content: "\e905";
}
.icon-lightning:before,
.security__list-item:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-print:before {
  content: "\e90a";
}
.icon-i:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}